<aside class="main-sidebar">
  <section class="sidebar">

    <ul class="sidebar-menu" data-widget="tree">
  
      <li class="treeview menu-open">
        <a href="#">
          <i class="fa fa-dashboard"></i> <span><a [routerLink]="['/details/add']">Add User</a></span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        
      </li>

      <li class="treeview menu-open">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span><a [routerLink]="['/details']">User List</a></span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          
        </li>
    </ul>
  </section>
</aside>